[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "8.1.7"
pymarc = "5.1.2"
pysftp = "0.2.9"
python-dotenv = "1.0.1"
requests = "2.32.3"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
